// display
@each $key, $value in $breakpoints {
  $infix: breakpoint-infix($key, $value);
  @include media-generate($key, $value){
    .d#{$infix}-none { display: none !important; }
    .d#{$infix}-block { display: block !important; }
    .d#{$infix}-inline { display: inline !important; }
    .d#{$infix}-inline-block { display: inline-block !important; }
    .d#{$infix}-flex { display: flex !important; }
  }
}
