
.classSwiper {
  width: 100%;
  height: 21.625rem;
  @include pad {
    height: 20.25rem;
  }
  @include desktop-m {
    height: 27.8125rem;
  }
}

.classSwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10.3125rem;
  @include pad {
    height: 9.375rem;
  }
  @include desktop-m {
    height: 27.8125rem;
  }
}

.feebackSwiper {
  width: 100%;
  height: 22.75rem;
  @include pad {
    height: 16.375rem
  }
}

.feebackSwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7.25rem;
  padding: 1.5rem;
  background: $white;
  border-radius: 1rem;
}

.swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: auto;
  bottom: -3rem;
  width: auto;
  color: $primary;
  span {
    font-size: 2.5rem;
  }
  &:after {
    display: none;
  }
}

.swiper-button-prev {
  left: 15px;
}

.swiper-button-next {
  right: 15px;
}