*, *:before, *:after {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  color: $link-color;
  text-decoration: $link-decoration;
  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}
