<footer class="footer py-14 bg-primary">
  <div class="mb-14 border-bottom-1 border-white">
    <div class="container mb-14 px-0">
      <div class="d-lg-flex justify-content-between align-items-center">
        <h3 class="mb-4 mb-lg-0 fz-7 fz-md-6">現在訂閱，獲得課程優惠碼！</h3>
        <div class="w-100 w-lg-auto input-group">
          <input type="text" class="footer__input form-control px-8 py-4 fz-8" placeholder="輸入您的電子信箱">
          <div class="input-group-append">
            <button class="btn btn-secondary btn-lg" type="button">訂閱</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container px-0">
    <div class="d-flex justify-content-between">
      <ul>
        <li class="mb-4">
          <h3>
            <a href="" class="logo"></a>
          </h3>
        </li>
        <li class="mb-4">
          <a href="" class="fw-light">課程介紹</a>
        </li>
        <li class="mb-4">
          <a href="" class="fw-light">瑜珈空間</a>
        </li>
        <li class="mb-4">
          <a href="" class="fw-light">當月課表</a>
        </li>
        <li class="d-md-none">
          © 2021. All Rights Reserved.
        </li>
      </ul>
      <p class="d-none d-md-block align-self-end">© 2021. All Rights Reserved.</p>
      <ul class="d-flex">
        <li>
          <a href="" class="me-8 fz-7">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="" class="me-8 fz-7">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="" class="fz-7">
            <i class="fab fa-line"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>