.footer {
  color: $white;
  a {
    color: $white;
  }
  &__input {
    max-width: calc(345px - 73px);
    @include pad {
      max-width: 278px;
    }
  }
}

.logo {
  width: 6rem;
  height: 2rem;
  background: url("../images/logo-white.png") center no-repeat;
  background-size: cover;
}