.form-control {
  font-family: $font-family;
  border: 1px solid $secondary;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
  &::-webkit-input-placeholder{
    color: $primary;
  }
  &::-moz-placeholder{
    color: $primary;
  }
  &::-ms-input-placeholder {
    color: $primary;
  }
  &:focus {
    outline: none;
  }
  // 禁用狀態
  &.disabled {
    pointer-events: none;
  }
}

// input-group

.input-group {
  display: flex;
  input, select {
    border-radius: 0;
    max-width: 15rem;
    @include mobile {
      max-width: 100%;
    }
  }
  .form-control {
    &:first-child {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }
    &:not(:first-child) {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }
}

.input-group-prepend {
  a, button {
    white-space: nowrap;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.input-group-append {
  a, button {
    white-space: nowrap;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
