.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter-width / 2;
  padding-right: $gutter-width / 2;
}

@each $key, $value in $breakpoints {
  @include media-generate($key, $value){
    @if $value > 0 {
      .container {
        max-width: map-get($container-max-widths, $key);
      }
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -($gutter-width / 2);
  margin-right: -($gutter-width / 2);
}

.no-gutters {
  margin-left: 0;
  margin-right: 0;
  > [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
}

@each $key, $value in $breakpoints {
  @for $num from 1 through $grid-sum {
    $infix: breakpoint-infix($key, $value);
    @include media-generate($key, $value){
      .col#{$infix}-#{$num} {
        max-width: 100% * ($num / $grid-sum);
        flex: 0 0 100% * ($num / $grid-sum);
        padding-left: $gutter-width / 2;
        padding-right: $gutter-width / 2;
      }
    }
  }
}
