.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 35rem;
  background: url("../images/banner.jpeg") center no-repeat;
  background-size: cover;
  @include pad {
    min-height: 36.375rem;
  }
  &__content {
    max-width: 27.8125rem;
    @include desktop-m {
      margin-left: 6rem;
      margin-right: 0;
    }
  }
}

.feature-bg {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 26.25rem;
  padding: 1.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include pad {
    min-height: 15.75rem;
  }
  @include desktop-m {
    min-height: 26.25rem;
  }
}

.feature-bg1 {
  background-image: url("../images/feature-1.jpeg");
}

.feature-bg2 {
  background-image: url("../images/feature-2.jpeg");
}

.feature-bg3 {
  background-image: url("../images/feature-3.jpeg");
}


.teacher-bg {
  height: 100%;
  background-image: url("../images/teacher-cover.jpeg");
}

.teacher-card {
  padding: 1rem;
  transition: all 0.3s ease-in-out;
  @include pad {
    padding: 1.5rem 2rem;
    &:hover {
      margin-left: -5.875rem;
      padding: 2.5rem 3rem;
    }
  }
}

.teacher-img {
  max-width: 3rem;
  max-height: 5.875rem;
  @include pad {
    max-width: 5.875rem;
    max-height: 5.875rem;
  }
}

.space-cover {
  min-height: 13.125rem;
  width: 50%;
  margin-right: 0.9375rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include pad {
    width: 100%;
    margin-right: 1.875rem;
  }
}

.space-img {
  min-height: 13.125rem;
  width: 100%;
  margin-right: 0.9375rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &:last-child {
    margin-right: 0;
  }
  @include pad {
    margin-right: 0;
    &:last-child {
      margin-top: 2rem;
    }
  }
}

.space-img1 {
  background-image: url("../images/photo-7.jpg");
}

.space-img2 {
  background-image: url("../images/photo-8.jpg");
}

.space-img3 {
  background-image: url("../images/photo-9.jpg");
}

.feeback-img {
  width: 3.75rem;
  height: 3.75rem;
}

.plan-img {
  width: 100%;
  min-height: 15.125rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  @include pad {
    max-width: 345px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1rem;
  }
  @include desktop-m {
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0;
  }
}

.plan-img1 {
  background-image: url("../images/plan-1.jpg");
}

.plan-img2 {
  background-image: url("../images/plan-2.jpg");
}

.plan-img3 {
  background-image: url("../images/plan-3.jpg");
}