// color

$white:    #ffffff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000000;
// theme-color

$primary:       #907A7B;
$secondary:     #C0A4A5;
$third:         #F5F0E7;
$muted:         #707070;
$success:       green;
$info:          cyan;
$warning:       yellow;
$danger:        red;
$light:         $gray-100;
$dark:          $gray-900;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'third': $third,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'success': $success,
  'muted': $muted,
  'dark': $dark,
  'light': $light,
  'black': $black,
  'white': $white,
);

// space

$space-base: 1rem;

$spacies: (
  0: 0,
  1: $space-base * .125, //2
  2: $space-base * .25, //4
  3: $space-base * .375, //6
  4: $space-base * .5, //8
  5: $space-base * .625, //10
  6: $space-base * .75, //12
  7: $space-base * .875, //14
  8: $space-base, //16
  9: $space-base * 1.125, //18
  10: $space-base * 1.25, //20
  11: $space-base * 1.5, //24
  12: $space-base * 1.75, //28
  13: $space-base * 1.875, //30
  14: $space-base * 2, //32
  15: $space-base * 2.25, //36
  16: $space-base * 2.5, //40
  17: $space-base * 2.75, //44
  18: $space-base * 3, //48
  19: $space-base * 3.25, //52
  20: $space-base * 3.375, //54
  21: $space-base * 3.5, //56
  22: $space-base * 4, //64
  23: $space-base * 4.5, //72
  24: $space-base * 5, //80
  25: $space-base * 5.5, //88
  26: $space-base * 5.625, //90
  27: $space-base * 5.9375, //95
  28: $space-base * 6, //96
  29: $space-base * 6.5, //104
  30: $space-base * 6.875, //110
  31: $space-base * 7.0625  //113
);
$spacies-properties: 'm', 'p';
$spacies-sides: '', 't', 'b', 's', 'e', 'x', 'y';

// grid

$breakpoint-xs: 375px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$breakpoints: (
  xxs: 0,
  xs: $breakpoint-xs,
  sm: $breakpoint-sm,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
  xl: $breakpoint-xl,
);

$gutter-width: 30px;
$grid-sum: 12;

$container-max-widths: (
  // xxs: 0,
  xs: 345px,
  sm: 540px,
  md: 690px,
  lg: 960px,
  xl: 1110px,
);

// link

$link-color: $primary;
$link-decoration: none;
$link-hover-color: $secondary;
$link-hover-decoration: none;

// sizing
$sizing: (
  50: 50%,
  100: 100%,
  auto: auto,
);

// border
$border-widths: (
  0: 0,
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
);

$border-color: $secondary;

$border-radius: 0.3rem;
$border-radius-sm: 0.25rem;
$border-radius-lg: 1rem;
$border-radius-pill: 50rem;

// font family

$font-family: 'Noto Sans TC', Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Microsoft JhengHei', 'Helvetica Neue', Arial, sans-serif;

// font size
$font-size-base: 1rem;

$font-sizes: (
  1: $font-size-base * 3, // 48
  2: $font-size-base * 2.75, // 44
  3: $font-size-base * 2.5, // 40
  4: $font-size-base * 2.25, // 36
  5: $font-size-base * 2, // 32
  6: $font-size-base * 1.75, // 28
  7: $font-size-base * 1.5, // 24
  8: $font-size-base * 1.25, // 20
  9: $font-size-base * 1, // 16
  10: $font-size-base * 0.875, // 14
);

// font weight

$font-weight: (
  thin: 100,
  light: 300,
  normal: 400,
  medium: 500,
  bold: 700,
  black: 900,
);

// line-height

$line-height-base: 1.5;
$line-height-sm: 1.25;
$line-height-lg: 2;
